FLUJOS-NODE-RED.json
[
    {
        "id": "a19e3e2fde0bb1c4",
        "type": "tab",
        "label": "Nivel 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e0717b1b90328048",
        "type": "tab",
        "label": "Nivel 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a4ca4c4b2439643a",
        "type": "tab",
        "label": "Machine Learning",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b4e585b5748c538b",
        "type": "tab",
        "label": "Pruebas",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "deabcbef27bab14c",
        "type": "mqtt-broker",
        "name": "RaspBerry",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bffa7e7c818d1636",
        "type": "MySQLdatabase",
        "name": "smart-urban-farm DB",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "smart-urban-farm",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "96218676f88f05da",
        "type": "firebase admin",
        "name": "Firebase smart urban farm"
    },
    {
        "id": "e7875ea2deb5760a",
        "type": "mqtt in",
        "z": "a19e3e2fde0bb1c4",
        "name": "Sensores del Nivel1",
        "topic": "level1/sensors",
        "qos": "2",
        "datatype": "auto",
        "broker": "deabcbef27bab14c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "f2924b2fda88182b",
                "196deee444d7863c"
            ]
        ]
    },
    {
        "id": "f2924b2fda88182b",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "Trama de Datos",
        "func": "let sensorValues = msg.payload.split(\";\");\nlet numericValues = sensorValues.map( value => Number(value) );\nlet data = [];\nlet luz = 32104*Math.exp(-0.006*numericValues[2]);\nluz = Math.round(luz * 100) / 100\nlet hums = 600;\nif(numericValues[3] < 800 && numericValues[4]<800){\n    hums = (numericValues[3]+numericValues[4])/2 ;\n}else{\n    if(numericValues[3]>800){\n        msg.error = \"//Sensor 1 Desconectado\";\n    }\n    if(numericValues[4]>800){\n        msg.error += \"//Sensor 2 Desconectado\";\n    }\n}\ndata.push(numericValues[0]);\ndata.push(numericValues[1]);\ndata.push(luz);\ndata.push(hums);\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 120,
        "wires": [
            [
                "cf7f834d3f74da38",
                "206854241edf66c9",
                "b447dcae17d27177",
                "d0932c10a00453c7",
                "797cfc2d9492a53f",
                "6115176fc68d97ae"
            ]
        ]
    },
    {
        "id": "cf7f834d3f74da38",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "Temperatura",
        "func": "let data = msg.payload ;\nmsg.payload = data[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 40,
        "wires": [
            [
                "686d6a46d8b9a138"
            ]
        ]
    },
    {
        "id": "b447dcae17d27177",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "Luminosidad",
        "func": "let data = msg.payload ;\nmsg.payload = data[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 120,
        "wires": [
            [
                "74825b9e1a515b19"
            ]
        ]
    },
    {
        "id": "206854241edf66c9",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "Hum. Relativa.",
        "func": "let data = msg.payload ;\nmsg.payload = data[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 80,
        "wires": [
            [
                "930520e801c7a2bf"
            ]
        ]
    },
    {
        "id": "d0932c10a00453c7",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "Hum. Suelo",
        "func": "let data = msg.payload ;\nmsg.payload = data[3];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 160,
        "wires": [
            [
                "361e41ed52e20ba8"
            ]
        ]
    },
    {
        "id": "1693196072cdede0",
        "type": "mqtt out",
        "z": "a19e3e2fde0bb1c4",
        "name": "Lampara Nivel1",
        "topic": "level1/lamp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "deabcbef27bab14c",
        "x": 1000,
        "y": 620,
        "wires": []
    },
    {
        "id": "3a316236139325f5",
        "type": "mqtt out",
        "z": "a19e3e2fde0bb1c4",
        "name": "Electrovalvula Nivel1",
        "topic": "level1/valve",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "deabcbef27bab14c",
        "x": 1020,
        "y": 680,
        "wires": []
    },
    {
        "id": "490860d2d2050ebd",
        "type": "mqtt out",
        "z": "a19e3e2fde0bb1c4",
        "name": "Ventiladores Nivel1",
        "topic": "level1/fan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "deabcbef27bab14c",
        "x": 1010,
        "y": 740,
        "wires": []
    },
    {
        "id": "e4af23f412ec8cc3",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "",
        "func": "let value = msg.payload ;\nif(Array.isArray(value)) value= value[0];\nif(value===true){\n    msg.payload = \"on\";\n}else{\n    msg.payload = \"off\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 620,
        "wires": [
            [
                "1693196072cdede0"
            ]
        ]
    },
    {
        "id": "a9e2fd2f29dd47eb",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "",
        "func": "let value = msg.payload ;\nif(Array.isArray(value)) value= value[1];\nif(value===true){\n    msg.payload = \"on\";\n}else{\n    msg.payload = \"off\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 680,
        "wires": [
            [
                "3a316236139325f5"
            ]
        ]
    },
    {
        "id": "e16730acba4dc397",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "",
        "func": "let value = msg.payload ;\nif(Array.isArray(value)) value= value[2];\nif(value===false){\n    msg.payload = \"off\";\n}else{\n    msg.payload = \"on\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 740,
        "wires": [
            [
                "490860d2d2050ebd"
            ]
        ]
    },
    {
        "id": "71ce6489156910bc",
        "type": "mysql",
        "z": "a19e3e2fde0bb1c4",
        "mydb": "bffa7e7c818d1636",
        "name": "History",
        "x": 1100,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "cc2cb803596631cb",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "Consulta 3",
        "func": "let etiqueta = msg.payload[0];\nmsg.payload = msg.currentData;\nmsg.payload.push(etiqueta);\nmsg.topic=\"INSERT INTO historial (`temperatura`, `humedad`, `luz`, `humedad_suelo`, `horas_luz`,`etiqueta`, `nivel_id`) VALUES (?, ?, ?, ?, ?, ?, 1);\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 240,
        "wires": [
            [
                "71ce6489156910bc"
            ]
        ]
    },
    {
        "id": "58f1f59e43a3207f",
        "type": "mqtt in",
        "z": "a19e3e2fde0bb1c4",
        "name": "",
        "topic": "level1/autoOffValve",
        "qos": "2",
        "datatype": "auto",
        "broker": "deabcbef27bab14c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 800,
        "wires": [
            [
                "1b5e24240a64f7eb"
            ]
        ]
    },
    {
        "id": "1b5e24240a64f7eb",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "autoOffValve",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 800,
        "wires": [
            [
                "d0a2310f75f10033"
            ]
        ]
    },
    {
        "id": "797cfc2d9492a53f",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "Consulta 1",
        "func": "const d = new Date();\nlet diff = d.getTimezoneOffset();\n//d.setMinutes(d.getMinutes()-diff);\nlet month = (d.getMonth()+1);\nif(month<10) month = \"0\" + month;\nlet date = (d.getDate());\nif(date<10) date = \"0\" + date;\nconst strFecha1 = d.getFullYear() + \"-\" + month + \"-\" + date;\nd.setDate(d.getDate() + 1)\nmonth = (d.getMonth()+1);\nif(month<10) month = \"0\" + month;\ndate = (d.getDate());\nif(date<10) date = \"0\" + date;\nconst strFecha2 = d.getFullYear() + \"-\" + month + \"-\" + date;\nmsg.topic=\"SELECT * FROM historial WHERE nivel_id=1 AND fecha > '\"+strFecha1+\"' AND fecha < '\"+strFecha2+\"' ORDER BY id DESC LIMIT 1;\"\nmsg.currentData=msg.payload;\nmsg.date = [new Date(), (new Date()).getHours()];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 280,
        "wires": [
            [
                "c0df2462beeec8af"
            ]
        ]
    },
    {
        "id": "c0df2462beeec8af",
        "type": "mysql",
        "z": "a19e3e2fde0bb1c4",
        "mydb": "bffa7e7c818d1636",
        "name": "Ultimo Dato",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "a153b1da29ca9075"
            ]
        ]
    },
    {
        "id": "a153b1da29ca9075",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "",
        "func": "if(msg.payload.length>0){\n    const d = new Date();\n    let diff = d.getTimezoneOffset();\n    d.setMinutes(d.getMinutes()-diff);\n    msg.payload[0].fecha.setMinutes(msg.payload[0].fecha.getMinutes()-diff);\n    let diferencia = (d - msg.payload[0].fecha)/60/1000/60;\n    if(msg.currentData[2]>100 && msg.payload[0].luz>100){\n        msg.currentData.push(msg.payload[0].horas_luz+diferencia);   \n    }else{\n        msg.currentData.push(msg.payload[0].horas_luz);\n    }\n}else{\n    msg.currentData.push(0);\n}\n//msg.payload = msg.currentData;\n\n//horas luz\nmsg.payload[0] = msg.currentData[4];\n//temperatura\nmsg.payload[1] = msg.currentData[0];\n//humedadr\nmsg.payload[2] = msg.currentData[1];\n//humedads\nmsg.payload[3] = msg.currentData[3];\n//luminosidad\nmsg.luminosidad = msg.currentData[2];\nmsg.payload = [msg.payload];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "25443b4cf3e4f676",
                "7ad5e59bd7fe25ad"
            ]
        ]
    },
    {
        "id": "997a5e59f606efdb",
        "type": "firebase realtime database in",
        "z": "a19e3e2fde0bb1c4",
        "name": "lamp",
        "ref": "control/lampara/nivel1",
        "dataAtStart": true,
        "admin": "96218676f88f05da",
        "x": 630,
        "y": 620,
        "wires": [
            [
                "e4af23f412ec8cc3"
            ]
        ]
    },
    {
        "id": "3eb67e9c47c58b0d",
        "type": "firebase realtime database in",
        "z": "a19e3e2fde0bb1c4",
        "name": "valve",
        "ref": "control/valvula/nivel1",
        "dataAtStart": true,
        "admin": "96218676f88f05da",
        "x": 630,
        "y": 680,
        "wires": [
            [
                "a9e2fd2f29dd47eb"
            ]
        ]
    },
    {
        "id": "be8e259f341f7b57",
        "type": "firebase realtime database in",
        "z": "a19e3e2fde0bb1c4",
        "name": "fans",
        "ref": "control/ventiladores/nivel1",
        "dataAtStart": true,
        "admin": "96218676f88f05da",
        "x": 630,
        "y": 740,
        "wires": [
            [
                "e16730acba4dc397"
            ]
        ]
    },
    {
        "id": "d0a2310f75f10033",
        "type": "firebase realtime database out",
        "z": "a19e3e2fde0bb1c4",
        "name": "valve off",
        "ref": "control/valvula/nivel1",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 1030,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "686d6a46d8b9a138",
        "type": "firebase realtime database out",
        "z": "a19e3e2fde0bb1c4",
        "name": "temp",
        "ref": "monitoreo/temperatura/nivel1",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 790,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "930520e801c7a2bf",
        "type": "firebase realtime database out",
        "z": "a19e3e2fde0bb1c4",
        "name": "humr",
        "ref": "monitoreo/humedadr/nivel1",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 790,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "74825b9e1a515b19",
        "type": "firebase realtime database out",
        "z": "a19e3e2fde0bb1c4",
        "name": "lum",
        "ref": "monitoreo/luminosidad/nivel1",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 790,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "361e41ed52e20ba8",
        "type": "firebase realtime database out",
        "z": "a19e3e2fde0bb1c4",
        "name": "hums",
        "ref": "monitoreo/humedads/nivel1",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 790,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "25443b4cf3e4f676",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "Horas Luz",
        "func": "msg.payload = msg.payload[0][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "c43fa9da66b71677"
            ]
        ]
    },
    {
        "id": "c43fa9da66b71677",
        "type": "firebase realtime database out",
        "z": "a19e3e2fde0bb1c4",
        "name": "horasl",
        "ref": "monitoreo/horas_luz/nivel1",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 790,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7ad5e59bd7fe25ad",
        "type": "predictor",
        "z": "a19e3e2fde0bb1c4",
        "name": "DTL",
        "modelPath": "test/datasets/model",
        "modelName": "sufdtc",
        "x": 710,
        "y": 260,
        "wires": [
            [
                "cc2cb803596631cb",
                "1105befb04580eb4"
            ],
            [
                "fdaa1befc86beaad"
            ]
        ]
    },
    {
        "id": "fdaa1befc86beaad",
        "type": "debug",
        "z": "a19e3e2fde0bb1c4",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "32b323fe8cf866a7",
        "type": "mysql",
        "z": "a19e3e2fde0bb1c4",
        "mydb": "bffa7e7c818d1636",
        "name": "Etiqueta",
        "x": 720,
        "y": 420,
        "wires": [
            [
                "af9cec09c15c9945",
                "b6ac2af9d17a8f97"
            ]
        ]
    },
    {
        "id": "1105befb04580eb4",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "Consulta 2",
        "func": "\nmsg.topic=\"SELECT nombre FROM etiquetas WHERE id=? LIMIT 1;\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 320,
        "wires": [
            [
                "32b323fe8cf866a7"
            ]
        ]
    },
    {
        "id": "b6ac2af9d17a8f97",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "",
        "func": "if(Array.isArray(msg.payload)){\n    let etiqueta = msg.payload[0].nombre;\n    msg.payload = etiqueta;\n    if(etiqueta!==\"CONDICIONES OPTIMAS\"){\n        const d = new Date();\n        let state = etiqueta.split(\" - \");\n        let actions = [true,false,false];\n        if(state[1]==\"FALTA DE HORAS LUZ\" && d.getHours() >= 1) actions[0] = true;\n        if(state[2]==\"BAJA HUMEDAD DEL SUELO\") actions[1] = true;\n        if(state[0]==\"TEMPERATURA ALTA\") actions[2] = true;\n        msg.payload = actions;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 540,
        "wires": [
            [
                "e16730acba4dc397",
                "a9e2fd2f29dd47eb",
                "e4af23f412ec8cc3"
            ]
        ]
    },
    {
        "id": "9be3747174c647d8",
        "type": "mqtt in",
        "z": "a19e3e2fde0bb1c4",
        "name": "Lamp del Nivel1",
        "topic": "level1/actuators/lamp",
        "qos": "2",
        "datatype": "auto",
        "broker": "deabcbef27bab14c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 620,
        "wires": [
            [
                "182e271292766ac4"
            ]
        ]
    },
    {
        "id": "182e271292766ac4",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "",
        "func": "msg.payload = msg.payload == \"1\" ? true:false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 620,
        "wires": [
            [
                "778302ca84da7107"
            ]
        ]
    },
    {
        "id": "9d11042df8af19d2",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "",
        "func": "msg.payload = msg.payload == \"1\" ? true:false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 680,
        "wires": [
            [
                "71f2db1829a7ce71"
            ]
        ]
    },
    {
        "id": "b8a379d154c28971",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "",
        "func": "msg.payload = msg.payload == \"1\" ? true:false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 740,
        "wires": [
            [
                "8a8ae548a1fd7711"
            ]
        ]
    },
    {
        "id": "778302ca84da7107",
        "type": "firebase realtime database out",
        "z": "a19e3e2fde0bb1c4",
        "name": "lamp",
        "ref": "control/lampara/nivel1",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 430,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "71f2db1829a7ce71",
        "type": "firebase realtime database out",
        "z": "a19e3e2fde0bb1c4",
        "name": "valve",
        "ref": "control/valvula/nivel1",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 430,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "8a8ae548a1fd7711",
        "type": "firebase realtime database out",
        "z": "a19e3e2fde0bb1c4",
        "name": "fans",
        "ref": "control/ventiladores/nivel1",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 430,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "5dbb28950ed8d633",
        "type": "mqtt in",
        "z": "a19e3e2fde0bb1c4",
        "name": "Valve del Nivel1",
        "topic": "level1/actuators/lvalve",
        "qos": "2",
        "datatype": "auto",
        "broker": "deabcbef27bab14c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 680,
        "wires": [
            [
                "9d11042df8af19d2"
            ]
        ]
    },
    {
        "id": "2c49df995743070d",
        "type": "mqtt in",
        "z": "a19e3e2fde0bb1c4",
        "name": "Fans del Nivel1",
        "topic": "level1/actuators/fans",
        "qos": "2",
        "datatype": "auto",
        "broker": "deabcbef27bab14c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 740,
        "wires": [
            [
                "b8a379d154c28971"
            ]
        ]
    },
    {
        "id": "af9cec09c15c9945",
        "type": "function",
        "z": "a19e3e2fde0bb1c4",
        "name": "estado",
        "func": "if(Array.isArray(msg.payload)){\n    let etiqueta = msg.payload[0].nombre;\n    msg.payload = etiqueta;\n}else{\n    msg.payload = \"Error de clasificacion Nivel1\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 420,
        "wires": [
            [
                "02ff6461f75594fd"
            ]
        ]
    },
    {
        "id": "02ff6461f75594fd",
        "type": "firebase realtime database out",
        "z": "a19e3e2fde0bb1c4",
        "name": "estado",
        "ref": "monitoreo/estado/nivel1",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 1050,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "196deee444d7863c",
        "type": "debug",
        "z": "a19e3e2fde0bb1c4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "6115176fc68d97ae",
        "type": "debug",
        "z": "a19e3e2fde0bb1c4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "f0d236a6a95b7127",
        "type": "mqtt in",
        "z": "e0717b1b90328048",
        "name": "Sensores del Nivel2",
        "topic": "level2/sensors",
        "qos": "2",
        "datatype": "auto",
        "broker": "deabcbef27bab14c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "070ef6333dd92c7f",
                "fb244a0185324beb"
            ]
        ]
    },
    {
        "id": "070ef6333dd92c7f",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "Trama de Datos",
        "func": "let sensorValues = msg.payload.split(\";\");\nlet numericValues = sensorValues.map( value => Number(value) );\nlet data = [];\nlet luz = 32104*Math.exp(-0.006*numericValues[2]);\nluz = Math.round(luz * 100) / 100\nlet hums = 600;\nif(numericValues[3] < 800 && numericValues[4]<800){\n    hums = (numericValues[3]+numericValues[4])/2 ;\n}else{\n    if(numericValues[3]>800){\n        msg.error = \"//Sensor 1 Desconectado\";\n    }\n    if(numericValues[4]>800){\n        msg.error += \"//Sensor 2 Desconectado\";\n    }\n}\ndata.push(numericValues[0]);\ndata.push(numericValues[1]);\ndata.push(luz);\ndata.push(hums);\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 120,
        "wires": [
            [
                "409a8e3d6e5efbec",
                "fd9ba543e6b72321",
                "9eb4b6341458f81e",
                "aff48733070f11c7",
                "d2896367376acd12",
                "0b437c824dc09b43"
            ]
        ]
    },
    {
        "id": "409a8e3d6e5efbec",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "Temperatura",
        "func": "let data = msg.payload ;\nmsg.payload = data[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 40,
        "wires": [
            [
                "5d01752488af41ca"
            ]
        ]
    },
    {
        "id": "9eb4b6341458f81e",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "Luminosidad",
        "func": "let data = msg.payload ;\nmsg.payload = data[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 120,
        "wires": [
            [
                "f7cdeb11ffefd942"
            ]
        ]
    },
    {
        "id": "fd9ba543e6b72321",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "Hum. Relativa.",
        "func": "let data = msg.payload ;\nmsg.payload = data[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 80,
        "wires": [
            [
                "76723bd14b18b4ec"
            ]
        ]
    },
    {
        "id": "aff48733070f11c7",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "Hum. Suelo",
        "func": "let data = msg.payload ;\nmsg.payload = data[3];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 160,
        "wires": [
            [
                "47ba58d971cd4076"
            ]
        ]
    },
    {
        "id": "a3c4bfd080611da6",
        "type": "mqtt out",
        "z": "e0717b1b90328048",
        "name": "Lampara Nivel2",
        "topic": "level2/lamp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "deabcbef27bab14c",
        "x": 1000,
        "y": 620,
        "wires": []
    },
    {
        "id": "c999a7fa681923fe",
        "type": "mqtt out",
        "z": "e0717b1b90328048",
        "name": "Electrovalvula Nivel2",
        "topic": "level2/valve",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "deabcbef27bab14c",
        "x": 1020,
        "y": 680,
        "wires": []
    },
    {
        "id": "801466ad0b24ec1f",
        "type": "mqtt out",
        "z": "e0717b1b90328048",
        "name": "Ventiladores Nivel2",
        "topic": "level2/fan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "deabcbef27bab14c",
        "x": 1010,
        "y": 740,
        "wires": []
    },
    {
        "id": "5539447fe6c2f805",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "",
        "func": "let value = msg.payload ;\nif(Array.isArray(value)) value= value[0];\nif(value===true){\n    msg.payload = \"on\";\n}else{\n    msg.payload = \"off\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 620,
        "wires": [
            [
                "a3c4bfd080611da6"
            ]
        ]
    },
    {
        "id": "56b38755c266287b",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "",
        "func": "let value = msg.payload ;\nif(Array.isArray(value)) value= value[1];\nif(value===true){\n    msg.payload = \"on\";\n}else{\n    msg.payload = \"off\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 680,
        "wires": [
            [
                "c999a7fa681923fe"
            ]
        ]
    },
    {
        "id": "9deaec3bc192030e",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "",
        "func": "let value = msg.payload ;\nif(Array.isArray(value)) value= value[2];\nif(value===false){\n    msg.payload = \"off\";\n}else{\n    msg.payload = \"on\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 740,
        "wires": [
            [
                "801466ad0b24ec1f"
            ]
        ]
    },
    {
        "id": "6eae2bfaab1c7929",
        "type": "mysql",
        "z": "e0717b1b90328048",
        "mydb": "bffa7e7c818d1636",
        "name": "History",
        "x": 940,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7006c3da65415604",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "INSERT SQL",
        "func": "let etiqueta = msg.payload[0];\nmsg.payload = msg.currentData;\nmsg.payload.push(etiqueta);\nmsg.topic=\"INSERT INTO historial (`temperatura`, `humedad`, `luz`, `humedad_suelo`, `horas_luz`,`etiqueta`, `nivel_id`) VALUES (?, ?, ?, ?, ?, ?, 2);\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 240,
        "wires": [
            [
                "6eae2bfaab1c7929"
            ]
        ]
    },
    {
        "id": "cfb0775c18889cf2",
        "type": "mqtt in",
        "z": "e0717b1b90328048",
        "name": "",
        "topic": "level2/autoOffValve",
        "qos": "2",
        "datatype": "auto",
        "broker": "deabcbef27bab14c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 800,
        "wires": [
            [
                "a4a0dc2682b18521"
            ]
        ]
    },
    {
        "id": "a4a0dc2682b18521",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "autoOffValve",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 800,
        "wires": [
            [
                "1693516ca7e9cd0e"
            ]
        ]
    },
    {
        "id": "d2896367376acd12",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "",
        "func": "const d = new Date();\nlet diff = d.getTimezoneOffset();\n//d.setMinutes(d.getMinutes()-diff);\nlet month = (d.getMonth()+1);\nif(month<10) month = \"0\" + month;\nlet date = (d.getDate());\nif(date<10) date = \"0\" + date;\nconst strFecha1 = d.getFullYear() + \"-\" + month + \"-\" + date;\nd.setDate(d.getDate() + 1)\nmonth = (d.getMonth()+1);\nif(month<10) month = \"0\" + month;\ndate = (d.getDate());\nif(date<10) date = \"0\" + date;\nconst strFecha2 = d.getFullYear() + \"-\" + month + \"-\" + date;\nmsg.topic=\"SELECT * FROM historial WHERE nivel_id=2 AND fecha > '\"+strFecha1+\"' AND fecha < '\"+strFecha2+\"' ORDER BY id DESC LIMIT 1;\"\nmsg.currentData=msg.payload;\nmsg.date = [new Date(), (new Date()).getHours()];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 280,
        "wires": [
            [
                "95f9fecc70856a74"
            ]
        ]
    },
    {
        "id": "95f9fecc70856a74",
        "type": "mysql",
        "z": "e0717b1b90328048",
        "mydb": "bffa7e7c818d1636",
        "name": "Ultimo Dato",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "34fc0af5991b0a17"
            ]
        ]
    },
    {
        "id": "34fc0af5991b0a17",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "",
        "func": "if(msg.payload.length>0){\n    const d = new Date();\n    let diff = d.getTimezoneOffset();\n    d.setMinutes(d.getMinutes()-diff);\n    msg.payload[0].fecha.setMinutes(msg.payload[0].fecha.getMinutes()-diff);\n    let diferencia = (d - msg.payload[0].fecha)/60/1000/60;\n    if(msg.currentData[2]>100 && msg.payload[0].luz>100){\n        msg.currentData.push(msg.payload[0].horas_luz+diferencia);   \n    }else{\n        msg.currentData.push(msg.payload[0].horas_luz);\n    }\n}else{\n    msg.currentData.push(0);\n}\n//msg.payload = msg.currentData;\n\n//horas luz\nmsg.payload[0] = msg.currentData[4];\n//temperatura\nmsg.payload[1] = msg.currentData[0];\n//humedadr\nmsg.payload[2] = msg.currentData[1];\n//humedads\nmsg.payload[3] = msg.currentData[3];\n//luminosidad\nmsg.luminosidad = msg.currentData[2];\nmsg.payload = [msg.payload];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "3c2ad5e3ba8d0564",
                "3393f7403d19fc31"
            ]
        ]
    },
    {
        "id": "a1f7c40c05fa0bc3",
        "type": "firebase realtime database in",
        "z": "e0717b1b90328048",
        "name": "lamp",
        "ref": "control/lampara/nivel2",
        "dataAtStart": true,
        "admin": "96218676f88f05da",
        "x": 630,
        "y": 620,
        "wires": [
            [
                "5539447fe6c2f805"
            ]
        ]
    },
    {
        "id": "bd7349c33b032048",
        "type": "firebase realtime database in",
        "z": "e0717b1b90328048",
        "name": "valve",
        "ref": "control/valvula/nivel2",
        "dataAtStart": true,
        "admin": "96218676f88f05da",
        "x": 630,
        "y": 680,
        "wires": [
            [
                "56b38755c266287b"
            ]
        ]
    },
    {
        "id": "e5fa15ac95b2ac76",
        "type": "firebase realtime database in",
        "z": "e0717b1b90328048",
        "name": "fans",
        "ref": "control/ventiladores/nivel2",
        "dataAtStart": true,
        "admin": "96218676f88f05da",
        "x": 630,
        "y": 740,
        "wires": [
            [
                "9deaec3bc192030e"
            ]
        ]
    },
    {
        "id": "1693516ca7e9cd0e",
        "type": "firebase realtime database out",
        "z": "e0717b1b90328048",
        "name": "valve off",
        "ref": "control/valvula/nivel2",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 1030,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "5d01752488af41ca",
        "type": "firebase realtime database out",
        "z": "e0717b1b90328048",
        "name": "temp",
        "ref": "monitoreo/temperatura/nivel2",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 790,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "76723bd14b18b4ec",
        "type": "firebase realtime database out",
        "z": "e0717b1b90328048",
        "name": "humr",
        "ref": "monitoreo/humedadr/nivel2",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 790,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f7cdeb11ffefd942",
        "type": "firebase realtime database out",
        "z": "e0717b1b90328048",
        "name": "lum",
        "ref": "monitoreo/luminosidad/nivel2",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 790,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "47ba58d971cd4076",
        "type": "firebase realtime database out",
        "z": "e0717b1b90328048",
        "name": "hums",
        "ref": "monitoreo/humedads/nivel2",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 790,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3c2ad5e3ba8d0564",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "Horas Luz",
        "func": "msg.payload = msg.payload[0][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "f8aed68413ef5aaf"
            ]
        ]
    },
    {
        "id": "f8aed68413ef5aaf",
        "type": "firebase realtime database out",
        "z": "e0717b1b90328048",
        "name": "horasl",
        "ref": "monitoreo/horas_luz/nivel2",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 790,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3393f7403d19fc31",
        "type": "predictor",
        "z": "e0717b1b90328048",
        "name": "DTL",
        "modelPath": "test/datasets/model",
        "modelName": "sufdtc",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "7006c3da65415604",
                "ad93d5215473a6c4",
                "4f260394f660fee4"
            ],
            [
                "76b1b11675bca8c7"
            ]
        ]
    },
    {
        "id": "76b1b11675bca8c7",
        "type": "debug",
        "z": "e0717b1b90328048",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "52848649a89ed21d",
        "type": "mysql",
        "z": "e0717b1b90328048",
        "mydb": "bffa7e7c818d1636",
        "name": "Etiqueta",
        "x": 720,
        "y": 420,
        "wires": [
            [
                "096435427215d7a3",
                "ee9303f01e4638fa",
                "4f260394f660fee4"
            ]
        ]
    },
    {
        "id": "ad93d5215473a6c4",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "Consulta",
        "func": "\nmsg.topic=\"SELECT nombre FROM etiquetas WHERE id=? LIMIT 1;\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 300,
        "wires": [
            [
                "52848649a89ed21d"
            ]
        ]
    },
    {
        "id": "ee9303f01e4638fa",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "",
        "func": "if(Array.isArray(msg.payload)){\n    let etiqueta = msg.payload[0].nombre;\n    msg.payload = etiqueta;\n    if(etiqueta!==\"CONDICIONES OPTIMAS\"){\n        const d = new Date();\n        let state = etiqueta.split(\" - \");\n        let actions = [true,false,false];\n        if(state[1]==\"FALTA DE HORAS LUZ\" && d.getHours() >= 5) actions[0] = true;\n        if(state[2]==\"BAJA HUMEDAD DEL SUELO\") actions[1] = true;\n        if(state[0]==\"TEMPERATURA ALTA\") actions[2] = true;\n        msg.payload = actions;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 540,
        "wires": [
            [
                "9deaec3bc192030e",
                "56b38755c266287b",
                "5539447fe6c2f805",
                "4f260394f660fee4"
            ]
        ]
    },
    {
        "id": "41a7b833d165a388",
        "type": "mqtt in",
        "z": "e0717b1b90328048",
        "name": "Lamp del Nivel2",
        "topic": "level2/actuators/lamp",
        "qos": "2",
        "datatype": "auto",
        "broker": "deabcbef27bab14c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 620,
        "wires": [
            [
                "a435933ba43fa415"
            ]
        ]
    },
    {
        "id": "a435933ba43fa415",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "",
        "func": "msg.payload = msg.payload == \"1\" ? true:false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 620,
        "wires": [
            [
                "2fd38fdcb77dba2b"
            ]
        ]
    },
    {
        "id": "7158310cd753b080",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "",
        "func": "msg.payload = msg.payload == \"1\" ? true:false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 680,
        "wires": [
            [
                "4c46278d94c3671f"
            ]
        ]
    },
    {
        "id": "aa431a1f13fb6aa8",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "",
        "func": "msg.payload = msg.payload == \"1\" ? true:false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 740,
        "wires": [
            [
                "969353fa08e966bd"
            ]
        ]
    },
    {
        "id": "2fd38fdcb77dba2b",
        "type": "firebase realtime database out",
        "z": "e0717b1b90328048",
        "name": "lamp",
        "ref": "control/lampara/nivel2",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 430,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "4c46278d94c3671f",
        "type": "firebase realtime database out",
        "z": "e0717b1b90328048",
        "name": "valve",
        "ref": "control/valvula/nivel2",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 430,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "969353fa08e966bd",
        "type": "firebase realtime database out",
        "z": "e0717b1b90328048",
        "name": "fans",
        "ref": "control/ventiladores/nivel2",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 430,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "96cb10de97d256d4",
        "type": "mqtt in",
        "z": "e0717b1b90328048",
        "name": "Valve del Nivel2",
        "topic": "level2/actuators/lvalve",
        "qos": "2",
        "datatype": "auto",
        "broker": "deabcbef27bab14c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 680,
        "wires": [
            [
                "7158310cd753b080"
            ]
        ]
    },
    {
        "id": "ada5351a374a6110",
        "type": "mqtt in",
        "z": "e0717b1b90328048",
        "name": "Fans del Nivel2",
        "topic": "level2/actuators/fans",
        "qos": "2",
        "datatype": "auto",
        "broker": "deabcbef27bab14c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 740,
        "wires": [
            [
                "aa431a1f13fb6aa8"
            ]
        ]
    },
    {
        "id": "096435427215d7a3",
        "type": "function",
        "z": "e0717b1b90328048",
        "name": "",
        "func": "if(Array.isArray(msg.payload)){\n    let etiqueta = msg.payload[0].nombre;\n    msg.payload = etiqueta;\n}else{\n    msg.payload = \"Error de clasificacion Nivel1\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 400,
        "wires": [
            [
                "52cf49afeefc4be4"
            ]
        ]
    },
    {
        "id": "52cf49afeefc4be4",
        "type": "firebase realtime database out",
        "z": "e0717b1b90328048",
        "name": "estado",
        "ref": "monitoreo/estado/nivel2",
        "operation": "set",
        "admin": "96218676f88f05da",
        "x": 1050,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fb244a0185324beb",
        "type": "debug",
        "z": "e0717b1b90328048",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "0b437c824dc09b43",
        "type": "debug",
        "z": "e0717b1b90328048",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "4f260394f660fee4",
        "type": "debug",
        "z": "e0717b1b90328048",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "f0894f2b0ebeed3e",
        "type": "create dataset",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "path": "test/reducida.csv",
        "saveFolder": "test/datasets",
        "saveName": "sufR",
        "input": "0,1,2,3",
        "output": "4",
        "trainingPartition": "",
        "shuffle": true,
        "seed": "",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "9ffe874be934f080"
            ]
        ]
    },
    {
        "id": "ab133ceefb35b2ed",
        "type": "inject",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "f0894f2b0ebeed3e"
            ]
        ]
    },
    {
        "id": "9ffe874be934f080",
        "type": "debug",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "44b6f4b0.34d7dc",
        "type": "load dataset",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "datasetFolder": "test/datasets",
        "datasetName": "sufR",
        "partition": "train.csv",
        "input": true,
        "output": true,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "3d1a286c191a770d"
            ],
            [
                "86385870.9f6b88"
            ]
        ]
    },
    {
        "id": "d3e9e7ab.a06d68",
        "type": "inject",
        "z": "a4ca4c4b2439643a",
        "name": "start",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "44b6f4b0.34d7dc"
            ]
        ]
    },
    {
        "id": "86385870.9f6b88",
        "type": "debug",
        "z": "a4ca4c4b2439643a",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "2270c854.c34e08",
        "type": "debug",
        "z": "a4ca4c4b2439643a",
        "name": "print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "e69a3271.c7cab",
        "type": "predictor",
        "z": "a4ca4c4b2439643a",
        "name": "KNN-3 PREDICTOR",
        "modelPath": "test/datasets/model",
        "modelName": "sufknn3",
        "x": 560,
        "y": 760,
        "wires": [
            [
                "b8f2ab19.e693a8"
            ],
            [
                "f7c59de2.be773"
            ]
        ]
    },
    {
        "id": "b8f2ab19.e693a8",
        "type": "assessment",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "score": "confusion_matrix",
        "x": 790,
        "y": 660,
        "wires": [
            [
                "2c1826333e72d9b4",
                "5d8c3654fa15f341"
            ],
            [
                "f7c59de2.be773"
            ]
        ]
    },
    {
        "id": "f1b47338.aab82",
        "type": "load dataset",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "datasetFolder": "test/datasets",
        "datasetName": "sufR",
        "partition": "test.csv",
        "input": false,
        "output": true,
        "x": 530,
        "y": 660,
        "wires": [
            [
                "b8f2ab19.e693a8"
            ],
            [
                "f7c59de2.be773"
            ]
        ]
    },
    {
        "id": "1ea9f445.89d0bc",
        "type": "load dataset",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "datasetFolder": "test/datasets",
        "datasetName": "sufR",
        "partition": "test.csv",
        "input": true,
        "output": false,
        "x": 330,
        "y": 820,
        "wires": [
            [
                "e69a3271.c7cab"
            ],
            [
                "f7c59de2.be773"
            ]
        ]
    },
    {
        "id": "f7c59de2.be773",
        "type": "debug",
        "z": "a4ca4c4b2439643a",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 820,
        "wires": []
    },
    {
        "id": "808a0c93.8ee38",
        "type": "debug",
        "z": "a4ca4c4b2439643a",
        "name": "print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 600,
        "wires": []
    },
    {
        "id": "96127afec21a5079",
        "type": "inject",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 660,
        "wires": [
            [
                "f1b47338.aab82"
            ]
        ]
    },
    {
        "id": "eca936988e2b9497",
        "type": "inject",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "1ea9f445.89d0bc"
            ]
        ]
    },
    {
        "id": "3d1a286c191a770d",
        "type": "k neighbors classifier",
        "z": "a4ca4c4b2439643a",
        "name": "KNN5",
        "savePath": "test/datasets/model",
        "saveName": "sufknn5",
        "neighbors": "5",
        "weights": "uniform",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "2270c854.c34e08"
            ],
            [
                "86385870.9f6b88"
            ]
        ]
    },
    {
        "id": "e0a304f75d3d58ce",
        "type": "decision tree classifier",
        "z": "a4ca4c4b2439643a",
        "name": "DTC",
        "savePath": "test/datasets/model",
        "saveName": "sufdtc",
        "maxDepth": "",
        "criterion": "gini",
        "splitter": "best",
        "x": 550,
        "y": 440,
        "wires": [
            [
                "b36c8b1d6d2448d2"
            ],
            [
                "c379274b4eada0ac"
            ]
        ]
    },
    {
        "id": "e096c94be8645797",
        "type": "load dataset",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "datasetFolder": "test/datasets",
        "datasetName": "sufR",
        "partition": "train.csv",
        "input": true,
        "output": true,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "e0a304f75d3d58ce"
            ],
            [
                "c379274b4eada0ac"
            ]
        ]
    },
    {
        "id": "676110ea23da6836",
        "type": "inject",
        "z": "a4ca4c4b2439643a",
        "name": "start",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 480,
        "wires": [
            [
                "e096c94be8645797"
            ]
        ]
    },
    {
        "id": "c379274b4eada0ac",
        "type": "debug",
        "z": "a4ca4c4b2439643a",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 810,
        "y": 480,
        "wires": []
    },
    {
        "id": "b36c8b1d6d2448d2",
        "type": "debug",
        "z": "a4ca4c4b2439643a",
        "name": "print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "a072534b429c2bb9",
        "type": "load dataset",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "datasetFolder": "test/datasets",
        "datasetName": "sufR",
        "partition": "train.csv",
        "input": true,
        "output": true,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "a58934c3f430c34a"
            ],
            [
                "a0cd823e4e606c1e"
            ]
        ]
    },
    {
        "id": "c5b78932ddf89c1a",
        "type": "inject",
        "z": "a4ca4c4b2439643a",
        "name": "start",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "a072534b429c2bb9"
            ]
        ]
    },
    {
        "id": "a0cd823e4e606c1e",
        "type": "debug",
        "z": "a4ca4c4b2439643a",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "33d2d4631fd17b56",
        "type": "debug",
        "z": "a4ca4c4b2439643a",
        "name": "print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "a58934c3f430c34a",
        "type": "k neighbors classifier",
        "z": "a4ca4c4b2439643a",
        "name": "KNN3",
        "savePath": "test/datasets/model",
        "saveName": "sufknn3",
        "neighbors": "3",
        "weights": "uniform",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "33d2d4631fd17b56"
            ],
            [
                "a0cd823e4e606c1e"
            ]
        ]
    },
    {
        "id": "17eee0a66b1d0160",
        "type": "predictor",
        "z": "a4ca4c4b2439643a",
        "name": "KNN-5 PREDICTOR",
        "modelPath": "test/datasets/model",
        "modelName": "sufknn5",
        "x": 560,
        "y": 900,
        "wires": [
            [
                "b8f2ab19.e693a8"
            ],
            [
                "2c008036a2cce912"
            ]
        ]
    },
    {
        "id": "d405e36072eb0c5d",
        "type": "load dataset",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "datasetFolder": "test/datasets",
        "datasetName": "sufR",
        "partition": "test.csv",
        "input": true,
        "output": false,
        "x": 330,
        "y": 960,
        "wires": [
            [
                "17eee0a66b1d0160"
            ],
            [
                "2c008036a2cce912"
            ]
        ]
    },
    {
        "id": "2c008036a2cce912",
        "type": "debug",
        "z": "a4ca4c4b2439643a",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 940,
        "wires": []
    },
    {
        "id": "5e3ed271ed8641c8",
        "type": "inject",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 960,
        "wires": [
            [
                "d405e36072eb0c5d"
            ]
        ]
    },
    {
        "id": "3ea607de2bb86c8e",
        "type": "predictor",
        "z": "a4ca4c4b2439643a",
        "name": "DTC PREDICTOR",
        "modelPath": "test/datasets/model",
        "modelName": "sufdtc",
        "x": 550,
        "y": 1020,
        "wires": [
            [
                "b8f2ab19.e693a8"
            ],
            [
                "e3cb1df9b0c58092"
            ]
        ]
    },
    {
        "id": "b225bd4b8c462cf0",
        "type": "load dataset",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "datasetFolder": "test/datasets",
        "datasetName": "sufR",
        "partition": "test.csv",
        "input": true,
        "output": false,
        "x": 330,
        "y": 1080,
        "wires": [
            [
                "3ea607de2bb86c8e"
            ],
            [
                "e3cb1df9b0c58092"
            ]
        ]
    },
    {
        "id": "e3cb1df9b0c58092",
        "type": "debug",
        "z": "a4ca4c4b2439643a",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1060,
        "wires": []
    },
    {
        "id": "50cd1c93463cfadb",
        "type": "inject",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1080,
        "wires": [
            [
                "b225bd4b8c462cf0"
            ]
        ]
    },
    {
        "id": "2c1826333e72d9b4",
        "type": "function",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "func": "let rows = msg.payload.map(row => row.join()).join(';');\nmsg.payload = rows ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 740,
        "wires": [
            [
                "808a0c93.8ee38"
            ]
        ]
    },
    {
        "id": "5928110b15606b63",
        "type": "predictor",
        "z": "a4ca4c4b2439643a",
        "name": "DTC PREDICTOR",
        "modelPath": "test/datasets/model",
        "modelName": "sufdtc",
        "x": 530,
        "y": 1200,
        "wires": [
            [
                "e99dc23d4657734a"
            ],
            []
        ]
    },
    {
        "id": "4abc51fdd7766c25",
        "type": "inject",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1200,
        "wires": [
            [
                "488dc75b3a81a63f"
            ]
        ]
    },
    {
        "id": "e99dc23d4657734a",
        "type": "debug",
        "z": "a4ca4c4b2439643a",
        "name": "print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1200,
        "wires": []
    },
    {
        "id": "488dc75b3a81a63f",
        "type": "function",
        "z": "a4ca4c4b2439643a",
        "name": "",
        "func": "msg.payload = [\n                [11,25,70,400],\n                [13,25,70,400],\n    ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1200,
        "wires": [
            [
                "5928110b15606b63"
            ]
        ]
    },
    {
        "id": "5d8c3654fa15f341",
        "type": "debug",
        "z": "a4ca4c4b2439643a",
        "name": "print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 560,
        "wires": []
    },
    {
        "id": "61d0a99483e01618",
        "type": "mqtt in",
        "z": "b4e585b5748c538b",
        "name": "",
        "topic": "testTopic",
        "qos": "2",
        "datatype": "auto",
        "broker": "deabcbef27bab14c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "21988c1896285d41"
            ]
        ]
    },
    {
        "id": "21988c1896285d41",
        "type": "debug",
        "z": "b4e585b5748c538b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "44cc95283a691025",
        "type": "mysql",
        "z": "b4e585b5748c538b",
        "mydb": "bffa7e7c818d1636",
        "name": "test",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "2ec6c2db3ee214f9"
            ]
        ]
    },
    {
        "id": "b10faadcb6e7475b",
        "type": "inject",
        "z": "b4e585b5748c538b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "d2a883ede4db0e1c"
            ]
        ]
    },
    {
        "id": "d2a883ede4db0e1c",
        "type": "function",
        "z": "b4e585b5748c538b",
        "name": "",
        "func": "msg.payload = [\n                [11,25,70,400],\n                [13,25,70,400],\n    ];\nlet sql = \"SHOW TABLES;\"\nmsg.topic = sql;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 380,
        "wires": [
            [
                "44cc95283a691025",
                "190734b64876b2ec"
            ]
        ]
    },
    {
        "id": "2ec6c2db3ee214f9",
        "type": "debug",
        "z": "b4e585b5748c538b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "8946e673063bf8cc",
        "type": "mqtt in",
        "z": "b4e585b5748c538b",
        "name": "Sensores del Nivel2",
        "topic": "level2/sensors",
        "qos": "2",
        "datatype": "auto",
        "broker": "deabcbef27bab14c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 100,
        "wires": [
            [
                "8379db3cb8d1bf32"
            ]
        ]
    },
    {
        "id": "8379db3cb8d1bf32",
        "type": "debug",
        "z": "b4e585b5748c538b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 100,
        "wires": []
    },
    {
        "id": "190734b64876b2ec",
        "type": "predictor",
        "z": "b4e585b5748c538b",
        "name": "DTC PREDICTOR",
        "modelPath": "test/datasets/model",
        "modelName": "sufdtc",
        "x": 470,
        "y": 320,
        "wires": [
            [
                "fe7c365bbb104901"
            ],
            []
        ]
    },
    {
        "id": "fe7c365bbb104901",
        "type": "debug",
        "z": "b4e585b5748c538b",
        "name": "print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 320,
        "wires": []
    }
]